@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/muratcorlu\/Documents\/work\/git\/presentations\/javascript-sourcemaps\/examples\/sass\/style\.sass}line{font-family:\000035}}
body {
  padding: 8px;
  margin: 8px;
  background-color: #efefef; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/muratcorlu\/Documents\/work\/git\/presentations\/javascript-sourcemaps\/examples\/sass\/style\.sass}line{font-family:\0000311}}
h1 {
  border-color: #3bbfce;
  color: #2ca2af; }
