//
// İcons
// --------------------------------------------------

.icon-search
  &:before
    background-position 0 -1px

.icon-print
  &:before
    background-position 0 -21px

.icon-back
  &:before
    background-position 0 -102px

.icon-spam
  &:before
    background-position 0 -143px

.icon-delete
  &:before
    background-position 0 -123px

.help-icon
  padding 2px 7px
  border-radius 25px