header
main
footer
	width 600px
	margin 0 auto

.hidden
	display none

h1
	font-size 24px
	font-family helvetica
	padding 20px

header
	border-bottom solid 1px #999
	margin-bottom 20px

footer
	border-top solid 1px #999
	margin-top 20px

	p
		padding 20px 0

.item-list
	padding-bottom 20px

	li
		padding 10px
		margin 5px
		border solid 1px #ccc

		p
			line-height 35px

		.btn
			display none
			float right

		&:hover
			.btn
				display block