// Genel değişken tanımları
////////////////////////////

/* site sabit genişliği */
siteWidth = 984px

/* Yazı tipi standart boyutu */
baseFontSize = 12px

/* Genel boşluk standardı */
stadartSpace = 10px

/* Genel resim yolu */
imageSrc = "/assets/img"

/* Genel background tanımı sprite url */
spriteImage = url(imageSrc/master.png)

// cebimden onaylı süreci sprite 
coSpriteImage = url(imageSrc/co_sprite.png)

/* icon sprite */
iconSprite = url(imageSrc/icon_master.png)

stnBorderRadius = 2px
footerHeight = 346px
linkColor = #039
whiteColor = #fff
baseColor = #333

// site genelinde satır yüksekliği
baseLineHeight = 1.3em

// tablo zebra diger rengi
tableBackgroundAccent = #f5f5f5

// Buton değişkenleri
// --------------------------------------------------------

/* Buton border rengi */
btnBorder = #437db9

/* Buton yazı tipi rengi */
btnColor = whiteColor

/* Buton yazı tipi boyutu */
btnFontSize = 14px

/* Buton renk geçişi üst renk değeri */
btnTopColor = #6198d3

/* Buton renk geçişi alt renk değeri */
btnBottomColor = #437db9

/* Kutu içi gölge rengi */
btnInsetColor = rgba(255,255,255,.1)

/* Kutu gölge linki */
btnShadowColor = #d9d9d9

/* Metin gölge rengi */
btnTextShadowColor = #29619b

// Buton tip tanımları
// --------------------------

// Alternative Buton
btnAlternativeBorderColor = #c0c0c0
btnAlternativeColor = #1064bc
btnAlternativeTopColor = whiteColor
btnAlternativeBottomColor = #efefef
btnAlternativeHoverBorderColor = #9d9d9d
btnAlternativeInsetColor = whiteColor
btnAlternativeShadowColor = #e5e5e5

//Cancel Buton
btnCancelColor = #c55353

//Special Buton
btnSpecialBorderColor = #1f956f
btnSpecialColor = whiteColor
btnSpecialTopColor = #2db888
btnSpecialBottomColor = #209771
btnSpecialBoxInsetColor = rgba(255,255,255,.1)
btnSpecialBoxShadowColor = #d9d9d9
btnSpecialTextShadowColor = #188260
btnSpecialHoverBoxInsetColor = #36a07e

// Buton boyut tanımları
// ---------------------------

// Strong Buton tanımları
paddingStrongBtn = 9px 16px 10px
fontSizeStrongBtn = 18px

// Form Buton tanımları
paddingFormBtn = 6px 16px

// Link buton tanımları
paddingLinkBtn = 4px 12px 5px
fontSizeLinkBtn = 11px